/*  QUERIES   ============================================================================= */

@media only screen and (max-width: 767px) {
  .span_1_of_2 {
    width: 100%;
  }

  /*----------------------------------------------------------------------*/
  /*  header  */
  /*----------------------------------------------------------------------*/

  header {
    margin-bottom: 3rem;
  }

  header h5 {
    margin: 0;
    padding: 1rem;
  }

  /*----------------------------------------------------------------------*/
  /*  main  */
  /*----------------------------------------------------------------------*/

  .kanan {
    padding: 1rem;
  }

  .kanan h1 {
    letter-spacing: -1px;
    margin-bottom: 10%;
  }

  .kanan p {
    padding-right: 1rem;
    margin-bottom: 5rem;
  }

  /*----------------------------------------------------------------------*/
  /*  footer  */
  /*----------------------------------------------------------------------*/

  footer {
    padding-top: 5rem;
  }

  .master-footer {
    height: auto;
    display: block;
    text-align: center;
  }
  .master-footer p {
    font-size: 90%;
  }
}
