/*----------------------------------------------------------------------*/
/*  BASIC SETUP  */
/*----------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: Space Mono;
  font-size: 20px;
  font-weight: 300;
  color: #555;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/*----------------------------------------------------------------------*/
/*  header  */
/*----------------------------------------------------------------------*/

header {
  display: block;
}

header h5 {
  margin-bottom: 5rem;
  padding-left: 1rem;
  padding-top: 2rem;
  letter-spacing: -2px;
  text-transform: uppercase;
}

/*----------------------------------------------------------------------*/
/*  main  */
/*----------------------------------------------------------------------*/

.kiri {
  padding: 1rem;
}

.kiri img {
  width: 100%;
  height: auto;
}

.kanan h1 {
  margin: 0;
  font-size: 250%;
  margin: 2rem 0;
}

.kanan p {
  font-size: 120%;
  line-height: 150%;
  padding-right: 4rem;
  margin-bottom: 5rem;
}

.homepage:link,
.homepage:visited {
  padding: 1rem 2rem;
  font-size: 80%;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #000;
}

.homepage:hover,
.homepage:active {
  background-color: #333;
}

/*----------------------------------------------------------------------*/
/*  footer  */
/*----------------------------------------------------------------------*/

footer {
  clear: both;
  margin-bottom: 2rem;
}

.master-footer {
  height: 15rem;
  display: grid;
  justify-items: center;
}

.item {
  align-self: end;
  font-size: 90%;
  letter-spacing: -1px;
}

.item a {
  color: #000;
  text-decoration: none;
}
